html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #00031b;
	font-family: Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}
